body {
  background-color: #f6f3f4;
  margin: 0;
}
header {
  display: flex;
  align-items: center;
  height: 200px;
  width: 100%;
  color: #002a55;
  border-bottom: 1px solid #808080;
  justify-content: start;
}

#home {
  cursor: pointer;
  width: 25%;
  text-align: center;
}

#pageTitle {
  font-size: 50px;
  font-weight: bold;
  width: 50%;
}

#pageTitle > h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 800;
}

#typingBox {
  background-color: white;
  width: 800px;
  margin: 50px auto 0px auto;
  padding-top: 20px;
  border-radius: 2%;
}
form {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: auto;
}
.textArea {
  margin-top: 20px;
  padding-left: 20px;
  border: none;
  background-color: #d6ebfc;
  height: 50px;
  border-radius: 5px;
}
.submitArea {
  margin: 40px auto 30px auto;
  width: 100px;
  height: 80px;
  opacity: 0.6;
  background-color: #a0ebee;
  border: none;
  border-radius: 5px;
}
.submitArea:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px gray;
}
.submitArea:active {
  box-shadow: none;
}
#space-text {
  margin-left: 80px;
}
